* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
}

.container {
    height: 100vh;
    background-image: url(background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
}

h1 {
    color: #f4f4f4;
    font-size: 3.5rem;
    text-shadow: 3px 5px 10px rgba(0, 0, 0, 0.7);
    margin-bottom: 1.5rem;
    font-weight: 700;
    transition: color 0.3s ease-in-out;
}

h1:hover {
    color: #775b81;
}

.hidden {
    display: none;
}

#time {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 2vw 0;
    text-transform: uppercase;
    transition: opacity 0.5s ease-in-out;
    opacity: 1;
}

#time div {
    font-size: 3.5rem;
    color: #fff;
    text-shadow: 2px 4px 8px rgba(0, 0, 0, 0.7);
    transition: transform 0.3s ease-in-out, color 0.5s ease-in-out;
}

#time div:hover {
    transform: scale(1.1);
    color: #6a6478;
}

#time h2 {
    font-size: 1.8rem;
    color: #eaeaea;
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.3);
}

.date-container {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 2vw;
    right: 3vw;
    transition: all 0.3s ease-in-out;
}

.image {
    width: 3.5rem;
    height: 3.5rem;
    cursor: pointer;
    transition: transform 0.5s ease-in-out;
}

.image:hover {
    transform: rotate(360deg) scale(1.2);
}

.date-container input {
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 1.5rem;
    font-weight: 600;
    color: #fff;
    border-bottom: 2px solid white;
    margin-left: 1vw;
    transition: border-bottom-color 0.3s ease-in-out;
}

.date-container input:focus {
    border-bottom-color: #6a6478;
}

.hide {
    display: none;
}

.date-container button,
.fullscreen-btn {
    background-color: transparent;
    color: white;
    padding: 0.5vw 2vw;
    font-size: 1.3rem;
    font-weight: 700;
    border: none;
    border-radius: 1.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
    margin-left: 1vw;
}

.date-container button:hover,
.fullscreen-btn:hover {
    background-color: transparent;
    transform: scale(1.08);
}

.date-container button:active,
.fullscreen-btn:active {
    transform: scale(0.95);
}

.fullscreen-btn {
    background: transparent;
    color: white;
}